/* src/scss/molecules/_tease.scss */
.tease {
  .tease__thumbnail {
    position: relative;
    height: 150px;
    overflow: hidden;

    .tease__photo-blur {
      position: absolute;
      top: 0;
      left: 0;
      background-repeat: repeat;
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      filter: blur(30px);
    }

    .tease__photo {
      position: relative;
      margin: 0 auto;
      background-repeat: no-repeat;
      background-position: center;
      width: 100%;
      height: 100%;
      z-index: 9;
    }
  }
}
