{% extends 'blocks/block.twig' %}

{% block content %}
    {% embed 'container.twig' %}
        {% block content %}
            {% embed 'row.twig' %}
                {% block content %}
                    <div class="col">
                        <h1>{{ block.title }}</h1>
                    </div>
                {% endblock %}
            {% endembed %}

            {% embed 'row.twig' %}
                {% block content %}
                    {% for post in block.posts %}
                        {% embed 'column.twig' %}
                            {% block content %}
                                <h3>{{ post.title }}</h3>
                                <p>{{ post.preview }}</p>
                            {% endblock %}
                        {% endembed %}
                    {% endfor %}
                {% endblock %}
            {% endembed %}
        {% endblock %}
    {% endembed %}
{% endblock %}
