<!-- src/components/embeds/column.twig -->
{% set bp = ('items_break_point' | block_global_setting) %}
{% set col = ('columns' | block_global_setting) %}

{# This could probably be refactored #}
{% if col == 0 and bp != 'col-fluid' %}
    {% set colClass = bp %}
{% elseif col > 0 and bp == 'col-fluid' %}
    {% set colClass = 'col-' ~ col %}
{% else %}
    {% set colClass = (col > 0 ? (bp ~ ' ' ~ bp ~ '-' ~ col) :  'col') %}
{% endif %}

<div class="{{ colClass }}"
     data-columns="{{ ('columns' | block_global_setting) }}">
    {% block content %}{% endblock %}
</div>
