<!-- src/components/embeds/column.twig -->
{#{% if ('fluid_items' | block_global_setting) %}#}
{#<div class="col {{ 'items_break_point' | block_global_setting(block) }}">#}
    {#{% else %}#}
<div class="{{ ('fluid_items' | block_global_setting) ? 'col ' : '' }}
            {{ 'items_break_point' | block_global_setting }}{{ ('columns' | block_global_setting) > 0 ? ('-' ~ ('columns' | block_global_setting)) : '' }}">
    {#{% endif %}#}
    {% block content %}{% endblock %}
</div>
