<!-- src/components/embeds/row.twig -->
<div class="row {{ ['alignment_vertical', 'alignment_horizontal', 'fluid_items'] | block_global_setting(block) }}">
    {% block content %}
    {% endblock %}
</div>
