{# This file demonstrates using most of the index.twig template and modifying
   just a small part. See `search.twig` for an example of another approach #}

{% extends "index.twig" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>This is my archive</h3>
            </div>
        </div>
    </div>
    {% block posts %}

        <div class="container">
            <div class="row">
                {{ parent() }}
            </div>
        </div>
    {% endblock %}
{% endblock %}
