$editorWidth: 500px;

.editor-block-list__layout {
  @import './scss/main';
}

.wp-block {
  max-width: none !important;
}

@media (min-width: 782px) {
  .edit-post-layout.is-sidebar-opened .edit-post-layout__content {
    margin-right: $editorWidth;
  }
  .edit-post-layout.is-sidebar-opened .edit-post-sidebar {
    width: $editorWidth !important;
  }
  .components-notice-list {
    right: 515px !important;
  }
}

.components-panel .acf-block-panel .acf-block-fields {
  background: #fcfcfc;
  padding-bottom: 20px;
  margin-bottom: 0px;
}

.components-base-control.disabled {
  color: #e6e6e6;
  cursor: not-allowed;
  opacity: .3;

  label,
  input {
    color: #e6e6e6;
    pointer-events: none;
  }

}
